  {# templates/user/create.html.twig #}
{% extends 'base/admin_base_template.html.twig' %}
{% block title %}
    Your Profile
{% endblock %}
{% block content %}
    <section id="customer-orders">
        <h3>Your Orders</h3>
    </section>
    <section id="customer-personal-details">
        <h3>Personal Details</h3>
    </section>
    <section id="customer-addresses">
        <h3>Your Addresses</h3>
    </section>
    <section id="customer-change-password">
        <h3>Change Password</h3>
    </section>

{% endblock %}