{% set after =  path(app.session.get('context_route'),
    {
        'function':app.request.get('function'),
        'type':'display'}) %}

<a href="{{ path(app.session.get('context_route'),
    {
        'function':app.request.get('function') ,
        'type':'create',
        'redirect_upon_success_url': after

    }) }}">Create </a>