{% set redirectTo = app.session.get('context_route')~'?_target_route='.%}

<a href="{{ path(app.session.get('context_route'),
    {
        _target_route : targetRoute,
        _type: 'create',
        _redirect_to_after_success:path(context_route)
    }) }}">Create </a>