{# templates/user/create.html.twig #}
{% extends 'base/admin_base_template.html.twig' %}

 {% block sidebar %}
     <ul>
         <li>Product</li>
         <li>
             <ul>
                 <li>
                     <a href="{{ path('admin_panel',{ 'load_next': 'product_list','type':'list' }) }}"> List
                         Products </a>
                 </li>
             </ul>
         </li>
         <li>Customer</li>
         <li>
             <ul>
                 <li>
                     <a href="{{ path('admin_panel',{ 'load_next': 'customer_list','type':'list' }) }}"> List
                         Customer </a>
                 </li>
             </ul>
         </li>
     </ul>
 {% endblock %}
{% block content %}
    {% if app.request.get('type') == 'list' %}
        {% set redirect_upon_success_url =  path('admin_panel',{ 'load_next': 'product_list','type':'list' }) %}

        {% include "admin/ui/panel/_create_button_in_list.html.twig"
            with { 'load_next': 'product_create', 'redirect_upon_success_url': redirect_upon_success_url} only %}
    {% endif %}
    {{ content|raw }}
{% endblock %}