{# templates/user/create.html.twig #}
{% extends 'base/admin_base_template.html.twig' %}

 {% block sidebar %}
     <ul>
         {% for section in sidebarMenu.sections %}
             {% include  'base/_li_section_with_header.html.twig' with section %}
         {% endfor %}

     </ul>
 {% endblock %}
{% block content %}
    {% if app.request.get('type') == 'list' %}
        {% set redirect_upon_success_url =  path(app.session.get('context_route'),
            { 'load_next': app.request.get('load_next'),'type':'list'}) %}

        {% include "admin/ui/panel/_create_button_in_list.html.twig"
            with {
            'load_next': app.request.get('load_next'),
            'type':'create',
            'redirect_upon_success_url': redirect_upon_success_url} only %}
    {% elseif app.request.get('type') == 'display' %}

        {% include "admin/ui/panel/_display_button_in_list.html.twig"
            with { 'load_next': app.request.get('load_next')
        } %}
    {% endif %}

    <div class="container">
        {{ content|raw }}
    </div>
{% endblock %}