{# templates/admin/category/create.html.twig #}
{% extends 'base/admin_base_template.html.twig' %}

{% block content %}
    <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('category_create') }}">Create
        Category</a>
{% endblock %}