<li class="nav-link px-0 align-middle">
    <a href="#"> {{ section.header_text }}</a></li>
<li>
    <ul class="nav flex-column ms-1">
        {% for item in section.items %}

            {% include 'base/_li_element_with_hyperlink.html.twig' with item %}
        {% endfor %}
    </ul>
</li>