<li>{{ section.header_text }}</li>
<li>
    <ul>
        {% for item in section.items %}

            {% include 'base/_li_element_with_hyperlink.html.twig' with item %}
        {% endfor %}
    </ul>
</li>