<li class="nav-link mr-1 ">
    <a id="{{item.id }}" class="link-secondary fs-6 link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover " href="{{ item.url }}">{{ item.text }} </a>
</li>
