{% extends 'base.html.twig' %}

    {% block javascripts %}
        {% block importmap %}{{ importmap(['app','admin']) }}{% endblock %}
    {% endblock %}
{% block body %}
    <div id="wrapper" class="container">
        <div class="row">
            <div id="header" class="col">
                {% block header %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div id="sidebar-wrapper" class="col-sm">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div id="content-wrapper" class="col-sm">

                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div id="footer-wrapper">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
