{% extends 'base.html.twig' %}

    {% block javascripts %}
        {% block importmap %}{{ importmap(['app','admin']) }}{% endblock %}
    {% endblock %}
{% block body %}

    <div class="wrapper">
        <div id="header">
            {% block header %}
                <div class="container-fluid">
                    <h1>Admin Page</h1>
                </div>
            {% endblock %}
        </div>
        <nav id="sidebar" class="container">
            {% block sidebar %}
            {% endblock %}
        </nav>

        <nav id="content" class="container">
            {% block content %}{% endblock %}
        </nav>
    </div>
{% endblock %}
