{% extends 'base.html.twig' %}

    {% block javascripts %}
        {% block importmap %}{{ importmap(['app','admin']) }}{% endblock %}
    {% endblock %}
{% block body %}
    <div id="wrapper" class="d-flex justify-content-center align-items-center">
        <div class="row">
            <div id="content-wrapper" class="col-sm mt-2">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div id="footer-wrapper">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
