{# templates/user/create.html.twig #}
{% extends 'base/admin_base_template.html.twig' %}
{% block sidebar %}

{% endblock %}
{% block content %}
    This is a new shop
    {{ webShop.name }}
    {% for section in webShopSection %}
        <h2>
            {{ section.description }}
            <div>
                Section content
            </div>
        </h2>
    {% endfor %}

{% endblock %}