{# templates/user/create.html.twig #}
{% extends 'base/my_base_template.html.twig' %}
{% block sidebar %}

{% endblock %}
{% block content %}
    {% for category in categories %}
        <h2>
            {{ category.code }}
        </h2>
    {% endfor %}
    {% for product in products %}
        <div>
            <a href="{{ path('module_web_shop_product_display',{'code':product.code}) }}"> {{ product.code }}</a>
        </div>
    {% endfor %}
{% endblock %}


