{# templates/user/create.html.twig #}
{% extends 'base/admin_base_template.html.twig' %}
{% block sidebar %}

{% endblock %}
{% block content %}
    {% for category in categories %}
        <h2>
            {{ category.code }}
        </h2>
    {% endfor %}
    {{ form_start(form) }}
    {% for element in form.products %}
        {{ form_row(element) }}
    {% endfor %}
    {{ form_end(form) }}
{% endblock %}


