{# templates/user/create.html.twig #}
{% extends 'module/web_shop/external/base/web_shop_base_template.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <form>
        {% for address in addresses %}

        {% endfor %}


    </form>
{% endblock %}
