{% if categories is defined and categories is not empty %}
    <ul>
        {% for category in categories %}
            <li>
                <a href="">{{ category.description }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}