<div class="container">
    <div class="row py-2">
        <div class="col m-0">
            {% include 'admin/ui/panel/section/content/action/top_level/_create_link.html.twig'
                with
                {config: listGrid.createButtonConfig} %}
        </div>
    </div>
    <div class="row font-weight-bold py-2 bg-light">
        {% for column in listGrid.columns %}
            <div class="col p-2">
                {{ column.label }}
            </div>
        {% endfor %}
        <div class="col p-2">
            {# for edit column #}
        </div>
    </div>
    {% if pagination is not null and pagination|length > 0 %}
        {% for entity in pagination %}
            <div class="row py-2 fs-6">
                {% for column in listGrid.columns %}
                    {% if column.action is defined and column.action == 'display' %}
                        <div class="col">
                            {% include 'admin/ui/panel/section/content/action/grid/_display_link.html.twig' with {
                                'function':listGrid.function is defined ? listGrid.function: app.request.get('_function'),
                                'name':attribute(entity, column.propertyName),
                                'id':attribute(entity, 'id'),
                                'link_id':listGrid.link_id} %}
                        </div>
                    {% else %}
                        <div class="col">
                            {{ attribute(entity, column.propertyName) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col">
                    {% include 'admin/ui/panel/section/content/action/grid/_edit_link.html.twig' with {
                        'function':listGrid.function is defined ? listGrid.function: app.request.get('_function'),
                        'id':attribute(entity, 'id'),
                        'link_id':listGrid.link_id} %}
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
</div>

