<div>
    {{ product.description }}
</div>
<img src="{{ path( 'product_image_file_for_img_tag',{'id':attribute(product,"id")}) }}"
     alt="{{ product.description }}"/>

<p>
    {{ product.longDescription }}
</p>
