{% set after =  path(app.session.get('context_route'),
    {
        '_function':function,
        '_type':'display',
        'id':id}) %}
{% set href = path(app.session.get('context_route'),
    {
        '_function': function,
        '_type':'display',
        'id':id,
        '_redirect_upon_success_url': after
    }) %}
<div class="d-flex flex mb-1 ml-0 ">
    <a class="link-primary" href="{{ href }}">
        {{ Display }}
    </a>
</div>