{%  set context_route= app.session.get('context_route') != null ?app.session.get('context_route') : 'admin_panel' %}

{% set after =  path(context_route,
    {
        '_function':function,
        '_type':'display',
        'id':id}) %}
{% set href = path(context_route,
    {
        '_function': function,
        '_type':'display',
        'id':id
    }) %}
<div class="d-flex flex mb-1 ml-0 ">
    <a class="link-primary" id="{{ link_id ~"-display-"~id}}" href="{{ href }}">
        {{ name }}
    </a>
</div>