{%  set context_route= app.session.get('context_route') != null ?app.session.get('context_route') : 'admin_panel' %}
{% set after =  path(context_route,
    {
        '_function':function,
        '_type':'display',
        'id':id}) %}

<a href="{{ path(context_route,
    {
        '_function': function,
        '_type':'edit',
        'id':id,
        '_redirect_upon_success_url': after
    }) }}" id="{{ link_id ~"-edit-"~id}}" >Edit </a>