<div>
    <div>
        {{ product.code }}

    </div>
    <div>
        {{ product.description }}
    </div>
    <div>
        {{ product.longDescription }}
    </div>
    <div>
        {{ product.isActive }}
    </div>

</div>